<!DOCTYPE html>
<html>
<head>
    <title>Acelest Book</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/bootstrap-5.3.0/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="../../static/bootstrap-5.3.0/dist/js/bootstrap.min.js">


</head>
<body>

    {% include 'navbar.html' %}
    <div class="container">
        <br>
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>


        {% endfor %}
      {% endif %}

        {% block content %}
        {% endblock %}
    </div>
        <script src="../../static/jquery/dist/jquery-3.7.0.min.js"></script>
        <script src="../../static/jquery/dist/jquery.validate.min.js"></script>
        <script src="../../static/sweetalert2.all.min.js"></script>
        <script src="../../static/js/script.js"></script>
        <script src="../../static/js/register.js"></script>
       
    </body>
</html>
